<a href="https://colab.research.google.com/github/japerezsaavedra/magisterunab_taller1_grupo3/blob/dev/Grupo_3_Magister_UNAB_Taller_Mongo_MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller 1
## Análisis de grandes volúmenes de datos
Mongo DB - MySQL

### Instrucciones:

- El Taller cuenta con 60 puntos.
- Usted deberá crear un notebook en colab en donde instale spark, java, cree las variables de entorno junto a la creación del se sparkSessión sparkContext.
- El nombre del notebook deberá ser apellido de los integrantes

# 1.- Instalar entorno de Spark

##1.1.- Instalar jdk, pyspark, hadoop

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.5.6/spark-3.5.6-bin-hadoop3.tgz
!tar xf spark-3.5.6-bin-hadoop3.tgz
# Instalar las bibliotecas de Python necesarias
!pip install -q pyspark==3.5.6
!pip install -q findspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.4/317.4 MB 1.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

##1.2.- Creación de variables de entorno

In [ ]:
import os # libreria de manejo del sistema operativo
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.6-bin-hadoop3"
os.environ["PYTHON_PATH"] = "/content/spark-3.5.6-bin-hadoop3/python/lib/py4j-0.10.9-src.zip"

##1.3.- Creación SparkContext

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

# Configuración para conectar Spark con MongoDB
# La URI base apunta a la base de datos, y la colección
mongo_uri = "mongodb+srv://mgtt:iysqrPhnC9j9p5Q1@cluster0.t9zxdsv.mongodb.net/sensores?retryWrites=true&w=majority&appName=Cluster0"

# Define el nombre de la base de datos y la colección explícitamente
database_name = "sensores"
collection_name = "lecturas"

# Inicializar Spark con el conector de MongoDB
spark = SparkSession.builder \
    .appName("MongoDBSensorData") \
    .config("spark.mongodb.uri", mongo_uri) \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1") \
    .getOrCreate()

**I.- Taller Mongo DB**

• [5 ptos] Crear un Dataframe llamado Sensor1

• [5 ptos] Contar el numero de registros

• [5 ptos] Mostrar las primeras 30 filas

• [10 ptos] Agregar la columna "condicion_temperatura" usando SQL <= 14
THEN 'Baja Temperatura' , > 15 AND temperatura <= 17 THEN 'Óptima'
ELSE 'Alta Temperatura'

• [10 ptos] Mostrar la temperatura máxima , mínima , ppmCO máximo y
mínimo

• [5 ptos] Guardar el Dataframe df_with_temp_condition


**II.- Taller MySQL**

• [5 ptos] Crear un Dataframe llamado Sensor2

• [5 ptos] Contar la cantidad de registros

• [10 ptos] Mostrar cual es la temperatura máxima y la mínima

# I.- Taller Mongo DB

1. [5 ptos] Crear un Dataframe llamado Sensor1

In [ ]:
Sensor1 = spark.read.format("com.mongodb.spark.sql.DefaultSource") \
    .option("uri", mongo_uri) \
    .option("database", database_name) \
    .option("collection", collection_name) \
    .load()
Sensor1.show()

+--------------------+---------+-----+----------+---------+-----------+--------------------+
|                 _id|altitudFt|ppmCO|presionAtm|presionPa|temperatura|           timestamp|
+--------------------+---------+-----+----------+---------+-----------+--------------------+
|{683493b62f6ffdd5...|  -337.04| 4.85|  1.012198|   102561|       19.6|2025-05-26 16:15:...|
|{683493b92f6ffdd5...|  -336.77| 4.67|  1.012218|   102563|       19.6|2025-05-26 16:15:...|
|{683493bd2f6ffdd5...|  -337.31| 4.63|  1.012258|   102567|       19.6|2025-05-26 16:15:...|
|{683493c12f6ffdd5...|   -336.5| 4.93|  1.012218|   102563|       19.6|2025-05-26 16:16:...|
|{683493c62f6ffdd5...|  -335.69| 4.74|  1.012189|   102560|       19.6|2025-05-26 16:16:...|
|{683493ca2f6ffdd5...|  -337.31| 4.93|  1.012179|   102559|       19.6|2025-05-26 16:16:...|
|{683493cf2f6ffdd5...|  -336.23| 5.13|  1.012198|   102561|       19.6|2025-05-26 16:16:...|
|{683493d52f6ffdd5...|  -336.23| 4.77|   1.01207|   102548|       19.6|2025-05-26 16:16:...|
|{683493dc2f6ffdd5...|  -337.31| 4.77|  1.012228|   102564|       19.6|2025-05-26 16:16:...|
|{683493e02f6ffdd5...|  -336.77| 4.85|  1.012267|   102568|       19.6|2025-05-26 16:16:...|
|{683493e62f6ffdd5...|  -335.96| 4.93|  1.012307|   102572|       19.6|2025-05-26 16:16:...|
|{683493ef2f6ffdd5...|  -336.77| 4.64|  1.012149|   102556|       19.6|2025-05-26 16:16:...|
|{683493f12f6ffdd5...|  -336.77| 4.86|  1.012208|   102562|       19.6|2025-05-26 16:16:...|
|{683493f42f6ffdd5...|  -335.15| 4.92|  1.012198|   102561|       19.6|2025-05-26 16:16:...|
|{683493f72f6ffdd5...|  -336.23| 4.72|  1.012169|   102558|       19.6|2025-05-26 16:16:...|
|{683493fa2f6ffdd5...|  -335.69| 4.91|  1.012218|   102563|       19.6|2025-05-26 16:16:...|
|{683493fd2f6ffdd5...|  -335.69| 5.15|  1.012159|   102557|       19.6|2025-05-26 16:17:...|
|{683494002f6ffdd5...|  -336.77| 4.91|  1.012218|   102563|       19.6|2025-05-26 16:17:...|
|{683494032f6ffdd5...|  -337.04| 5.04|  1.012218|   102563|       19.6|2025-05-26 16:17:...|
|{683494072f6ffdd5...|  -336.77| 4.99|  1.012218|   102563|       19.6|2025-05-26 16:17:...|
+--------------------+---------+-----+----------+---------+-----------+--------------------+
only showing top 20 rows

2. [5 ptos] Contar el numero de registros

In [ ]:
Sensor1.count()

34325

3.  [5 ptos] Mostrar las primeras 30 filas

In [ ]:
Sensor1.show(30, truncate=False)

+--------------------------+---------+-----+----------+---------+-----------+-----------------------+
|_id                       |altitudFt|ppmCO|presionAtm|presionPa|temperatura|timestamp              |
+--------------------------+---------+-----+----------+---------+-----------+-----------------------+
|{683493b62f6ffdd56ba55ebc}|-337.04  |4.85 |1.012198  |102561   |19.6       |2025-05-26 16:15:50.52 |
|{683493b92f6ffdd56ba55ebd}|-336.77  |4.67 |1.012218  |102563   |19.6       |2025-05-26 16:15:53.865|
|{683493bd2f6ffdd56ba55ebe}|-337.31  |4.63 |1.012258  |102567   |19.6       |2025-05-26 16:15:57.459|
|{683493c12f6ffdd56ba55ebf}|-336.5   |4.93 |1.012218  |102563   |19.6       |2025-05-26 16:16:01.084|
|{683493c62f6ffdd56ba55ec0}|-335.69  |4.74 |1.012189  |102560   |19.6       |2025-05-26 16:16:06.448|
|{683493ca2f6ffdd56ba55ec1}|-337.31  |4.93 |1.012179  |102559   |19.6       |2025-05-26 16:16:10.797|
|{683493cf2f6ffdd56ba55ec2}|-336.23  |5.13 |1.012198  |102561   |19.6       |2025-05-26 16:16:15.088|
|{683493d52f6ffdd56ba55ec3}|-336.23  |4.77 |1.01207   |102548   |19.6       |2025-05-26 16:16:21.217|
|{683493dc2f6ffdd56ba55ec4}|-337.31  |4.77 |1.012228  |102564   |19.6       |2025-05-26 16:16:28.014|
|{683493e02f6ffdd56ba55ec5}|-336.77  |4.85 |1.012267  |102568   |19.6       |2025-05-26 16:16:32.413|
|{683493e62f6ffdd56ba55ec6}|-335.96  |4.93 |1.012307  |102572   |19.6       |2025-05-26 16:16:38.621|
|{683493ef2f6ffdd56ba55ec7}|-336.77  |4.64 |1.012149  |102556   |19.6       |2025-05-26 16:16:47.241|
|{683493f12f6ffdd56ba55ec8}|-336.77  |4.86 |1.012208  |102562   |19.6       |2025-05-26 16:16:49.346|
|{683493f42f6ffdd56ba55ec9}|-335.15  |4.92 |1.012198  |102561   |19.6       |2025-05-26 16:16:52.391|
|{683493f72f6ffdd56ba55eca}|-336.23  |4.72 |1.012169  |102558   |19.6       |2025-05-26 16:16:55.51 |
|{683493fa2f6ffdd56ba55ecb}|-335.69  |4.91 |1.012218  |102563   |19.6       |2025-05-26 16:16:58.55 |
|{683493fd2f6ffdd56ba55ecc}|-335.69  |5.15 |1.012159  |102557   |19.6       |2025-05-26 16:17:01.578|
|{683494002f6ffdd56ba55ecd}|-336.77  |4.91 |1.012218  |102563   |19.6       |2025-05-26 16:17:04.79 |
|{683494032f6ffdd56ba55ece}|-337.04  |5.04 |1.012218  |102563   |19.6       |2025-05-26 16:17:07.91 |
|{683494072f6ffdd56ba55ecf}|-336.77  |4.99 |1.012218  |102563   |19.6       |2025-05-26 16:17:11.03 |
|{6834940a2f6ffdd56ba55ed0}|-337.85  |4.94 |1.012248  |102566   |19.6       |2025-05-26 16:17:14.31 |
|{6834940d2f6ffdd56ba55ed1}|-335.96  |4.72 |1.012238  |102565   |19.6       |2025-05-26 16:17:17.371|
|{683494102f6ffdd56ba55ed2}|-335.15  |4.89 |1.012218  |102563   |19.6       |2025-05-26 16:17:20.486|
|{683494132f6ffdd56ba55ed3}|-336.77  |4.91 |1.012208  |102562   |19.7       |2025-05-26 16:17:23.496|
|{683494162f6ffdd56ba55ed4}|-336.23  |4.81 |1.012238  |102565   |19.7       |2025-05-26 16:17:26.63 |
|{683494192f6ffdd56ba55ed5}|-336.5   |4.99 |1.012248  |102566   |19.7       |2025-05-26 16:17:29.798|
|{6834941c2f6ffdd56ba55ed6}|-334.34  |4.69 |1.012228  |102564   |19.6       |2025-05-26 16:17:32.87 |
|{6834941f2f6ffdd56ba55ed7}|-337.58  |4.89 |1.012258  |102567   |19.6       |2025-05-26 16:17:35.958|
|{683494232f6ffdd56ba55ed8}|-336.23  |4.97 |1.012218  |102563   |19.6       |2025-05-26 16:17:39.126|
|{683494262f6ffdd56ba55ed9}|-336.77  |4.85 |1.012179  |102559   |19.6       |2025-05-26 16:17:42.194|
+--------------------------+---------+-----+----------+---------+-----------+-----------------------+
only showing top 30 rows

4. [10 ptos] Agregar la columna "condicion_temperatura" usando SQL <= 14 THEN 'Baja Temperatura' , > 15 AND temperatura <= 17 THEN 'Óptima' ELSE 'Alta Temperatura'

In [ ]:
from pyspark.sql.functions import *

query = """case when temperatura <= 14 then 'Baja Temperatura'
               else case when temperatura > 14 AND temperatura <= 17 then 'Óptima'
                         else 'Alta Temperatura'
                              end
                end as condicion_temperatura"""

Sensor1 = Sensor1.withColumn("condicion_temperatura", expr(query))
Sensor1.show()

+--------------------+---------+-----+----------+---------+-----------+--------------------+---------------------+
|                 _id|altitudFt|ppmCO|presionAtm|presionPa|temperatura|           timestamp|condicion_temperatura|
+--------------------+---------+-----+----------+---------+-----------+--------------------+---------------------+
|{683493b62f6ffdd5...|  -337.04| 4.85|  1.012198|   102561|       19.6|2025-05-26 16:15:...|     Alta Temperatura|
|{683493b92f6ffdd5...|  -336.77| 4.67|  1.012218|   102563|       19.6|2025-05-26 16:15:...|     Alta Temperatura|
|{683493bd2f6ffdd5...|  -337.31| 4.63|  1.012258|   102567|       19.6|2025-05-26 16:15:...|     Alta Temperatura|
|{683493c12f6ffdd5...|   -336.5| 4.93|  1.012218|   102563|       19.6|2025-05-26 16:16:...|     Alta Temperatura|
|{683493c62f6ffdd5...|  -335.69| 4.74|  1.012189|   102560|       19.6|2025-05-26 16:16:...|     Alta Temperatura|
|{683493ca2f6ffdd5...|  -337.31| 4.93|  1.012179|   102559|       19.6|2025-05-26 16:16:...|     Alta Temperatura|
|{683493cf2f6ffdd5...|  -336.23| 5.13|  1.012198|   102561|       19.6|2025-05-26 16:16:...|     Alta Temperatura|
|{683493d52f6ffdd5...|  -336.23| 4.77|   1.01207|   102548|       19.6|2025-05-26 16:16:...|     Alta Temperatura|
|{683493dc2f6ffdd5...|  -337.31| 4.77|  1.012228|   102564|       19.6|2025-05-26 16:16:...|     Alta Temperatura|
|{683493e02f6ffdd5...|  -336.77| 4.85|  1.012267|   102568|       19.6|2025-05-26 16:16:...|     Alta Temperatura|
|{683493e62f6ffdd5...|  -335.96| 4.93|  1.012307|   102572|       19.6|2025-05-26 16:16:...|     Alta Temperatura|
|{683493ef2f6ffdd5...|  -336.77| 4.64|  1.012149|   102556|       19.6|2025-05-26 16:16:...|     Alta Temperatura|
|{683493f12f6ffdd5...|  -336.77| 4.86|  1.012208|   102562|       19.6|2025-05-26 16:16:...|     Alta Temperatura|
|{683493f42f6ffdd5...|  -335.15| 4.92|  1.012198|   102561|       19.6|2025-05-26 16:16:...|     Alta Temperatura|
|{683493f72f6ffdd5...|  -336.23| 4.72|  1.012169|   102558|       19.6|2025-05-26 16:16:...|     Alta Temperatura|
|{683493fa2f6ffdd5...|  -335.69| 4.91|  1.012218|   102563|       19.6|2025-05-26 16:16:...|     Alta Temperatura|
|{683493fd2f6ffdd5...|  -335.69| 5.15|  1.012159|   102557|       19.6|2025-05-26 16:17:...|     Alta Temperatura|
|{683494002f6ffdd5...|  -336.77| 4.91|  1.012218|   102563|       19.6|2025-05-26 16:17:...|     Alta Temperatura|
|{683494032f6ffdd5...|  -337.04| 5.04|  1.012218|   102563|       19.6|2025-05-26 16:17:...|     Alta Temperatura|
|{683494072f6ffdd5...|  -336.77| 4.99|  1.012218|   102563|       19.6|2025-05-26 16:17:...|     Alta Temperatura|
+--------------------+---------+-----+----------+---------+-----------+--------------------+---------------------+
only showing top 20 rows

5. [10 ptos] Mostrar la temperatura máxima , mínima , ppmCO máximo y mínimo

In [ ]:
(Sensor1
  .agg(
      max("temperatura").alias("temperatura_max"),
      min("temperatura").alias("temperatura_min"),
      max("ppmCO").alias("ppmCO_max"),
      min("ppmCO").alias("ppmCO_min")
        ).show()
)

+---------------+---------------+---------+---------+
|temperatura_max|temperatura_min|ppmCO_max|ppmCO_min|
+---------------+---------------+---------+---------+
|           20.0|          -51.8|    53.67|     4.63|
+---------------+---------------+---------+---------+

6. [5 ptos] Guardar el Dataframe df_with_temp_condition

In [ ]:
Sensor1.drop("_id").write.csv("./df_with_temp_condition", sep=',', header=True, mode="overwrite")

# II.- Taller MySQL

1. [5 ptos] Crear un Dataframe llamado Sensor2

In [ ]:
import requests
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, FloatType, IntegerType

# Inicializar Spark
spark = SparkSession.builder.appName("SensorDataIngest").getOrCreate()

# URL de datos
url = "http://mgtt.comunidadingenieria.cl/obtener_datos.php"

# Obtener datos desde la API
response = requests.get(url)
data_json = response.json()

# Procesar los datos y convertir tipos
data_processed = []
for entry in data_json:
    data_processed.append((
        int(entry['id']),
        float(entry['temperatura']),
        float(entry['humedad']),
        entry['fecha']
    ))

# Definir el esquema para el DataFrame
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("temperatura", FloatType(), True),
    StructField("humedad", FloatType(), True),
    StructField("fecha", StringType(), True)
])

In [ ]:
Sensor2 = spark.createDataFrame(data_processed, schema)
Sensor2.show()

+-----+-----------+-------+-------------------+
|   id|temperatura|humedad|              fecha|
+-----+-----------+-------+-------------------+
|25954|       13.3|   41.0|2025-06-08 18:32:00|
|25953|       13.4|   41.0|2025-06-08 18:31:39|
|25952|       13.7|   41.0|2025-06-08 18:31:14|
|25951|       13.7|   41.0|2025-06-08 18:30:53|
|25950|       13.7|   41.0|2025-06-08 18:30:33|
|25949|       13.7|   41.0|2025-06-08 18:30:12|
|25948|       13.7|   41.0|2025-06-08 18:29:52|
|25947|       13.7|   41.0|2025-06-08 18:29:31|
|25946|       13.7|   42.0|2025-06-08 18:29:11|
|25945|       13.7|   42.0|2025-06-08 18:28:46|
|25944|       13.7|   42.0|2025-06-08 18:28:25|
|25943|       14.1|   43.0|2025-06-08 18:28:04|
|25942|       14.1|   43.0|2025-06-08 18:27:39|
|25941|       14.1|   43.0|2025-06-08 18:27:18|
|25940|       14.1|   43.0|2025-06-08 18:26:58|
|25939|       14.1|   44.0|2025-06-08 18:26:37|
|25938|       14.1|   44.0|2025-06-08 18:26:17|
|25937|       14.1|   44.0|2025-06-08 18:25:56|
|25936|       14.1|   44.0|2025-06-08 18:25:36|
|25935|       14.1|   45.0|2025-06-08 18:25:15|
+-----+-----------+-------+-------------------+
only showing top 20 rows

2. [5 ptos] Contar la cantidad de registros

In [ ]:
Sensor2.count()

25954

3. [10 ptos] Mostrar cual es la temperatura máxima y la mínima

In [ ]:
(Sensor2
  .agg(
      max("temperatura").alias("temperatura_max"),
      min("temperatura").alias("temperatura_min")
        ).show()
)

+---------------+---------------+
|temperatura_max|temperatura_min|
+---------------+---------------+
|           19.8|           10.9|
+---------------+---------------+

Histograma

In [ ]:
import matplotlib.pyplot as plt

plt = df.toPandas()
# Crear el histograma
plt.hist(pdf['temperatura'], bins=20, edgecolor='black')
plt.title('Histograma de Temperatura')
plt.xlabel('Temperatura (°C)')
plt.ylabel('Frecuencia')
plt.grid(True)
plt.show()


plt.hist(pdf['humedad'], bins=20, edgecolor='black')
plt.title('Histograma de Humedad')
plt.xlabel('Humedad (%)')
plt.ylabel('Frecuencia')
plt.grid(True)
plt.show()